.titulo__principal {
    font-weight: 700;
}

.lista__pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;  
    
}

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #46d190 ;
}
.fire {
    background-color: #f59351;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #ffce4b;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #9569a5;
}
.fighting {
    background-color: #bf3829;
}
.psychic {
    background-color: #f65687 ;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #a78f24;
}
.bug {
    background-color: #abb844;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}

.pokemon__info {
    background-image: url(../img/pokebola1.png); 
    background-position: 125% 110%;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 1rem;
    color: #FFFFFF;   
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem 0.7rem;   
    box-shadow: 2px 2px 10px #696969;
    
}

.pokemon__numero {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.3;
    text-align: right;
}

.pokemon__nome {
    color: #FFFFFF;
    font-size: 1.3rem;
    margin: .25rem 0;
    text-transform: capitalize;
}

.pokemon__detalhes {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.pokemon__categorias {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon__tipo {
    border-radius: 1rem;
    color: #FFFFFF;
    filter: brightness(1.1);
    font-size: .75rem;
    margin: .25rem 0;
    padding: .25rem .7rem;
    text-align: center;
    box-shadow: 1px 1px 10px #0000005d;
}

.pokemon__imagem {
    height: 100px;
    max-width: 120px;   
}

.paginacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.botao__paginacao {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #6c79db ;
    color: #FFFFFF;
    font-size: 1.3rem;
    margin: .25rem .25rem;
    padding: .25rem .5rem;
}

@media screen and (min-width: 380px) {
    .lista__pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .lista__pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .pokemon__tipo {
        font-size: .85rem;
        padding: .3rem .9rem;
    }

    .pokemon__nome {
        font-size: 1.5rem;
    }

    .pokemon__imagem {
        height: 110px;
        max-width: 130px;   
    }
}

@media screen and (min-width: 992px) {
    .lista__pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .pokemon__tipo {
        padding: .35rem .92rem;
    }

    .pokemon__numero {
        font-size: 1.2rem;
    }

    .pokemon__nome {
        font-size: 1.6rem;
    }

    .pokemon__imagem {
        height: 120px;
        max-width: 140px;   
    }

}

